.paragraph-1 {
    background: green;
}

.paragraph-2 {
    border: red dotted 6px;
/** margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px; **/
    margin: 60px;
    /** padding-top: 40px; **/
    padding: 40px;
}

.paragraph-2 {
       border: red dotted 6px;
       margin-top: 60px;
       margin-left: 60px;
       margin-right: 60px;
       margin-bottom: 60px
}

.paragraph-3 {
    color: blue;
    font-family: Courier;
}

.paragraph-4 {
    font-size: "24px";
    font-style: italic;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;
    background: green
}

.info {
    font-weight: bold;
}